<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- bean definitions here -->
    <!--//using constructor method-->

<!--    <bean id="movie"  autowire="constructor" class="com.stackroute.domain.Movie">-->
<!--    </bean>-->
<!--    <bean id="actorr" name="actorr" class="com.stackroute.domain.Actor">-->
<!--        <constructor-arg name="name" value="Neelanshi" type="String" index="0"></constructor-arg>-->
<!--        <constructor-arg name="gender" value="female" type="String" index="1"></constructor-arg>-->
<!--        <constructor-arg name="age" value="23" type="int" index="2"></constructor-arg>-->
<!--    </bean>-->


    <bean id="cycle" class="com.stackroute.demo.BeanLifeCycleDemo" init-method="initialize" destroy-method="clean" ></bean>
<bean id="postprocessing" class="com.stackroute.demo.BeanPostProcessorDemoBean"></bean>


    <bean id="employee" class="com.stackroute.domain.Employee">
        <property name="company" value="IBM" />
    </bean>
    <bean id="childemployee" parent="employee">
        <property name="empId" value="101" />
        <property name="name" value="Neelanshi" />
    </bean>
</beans>